@import "colors.css";

* {
  font-family: "JetBrainsMono Nerd Font Propo";
  font-size: 14px;
}

window#waybar {
  background-color: @background;
  color: @on_surface;
}

#workspaces,
#clock,
#tray,
#pulseaudio,
#battery,
#custom-power {
  color: @foreground;
  padding: 0 6px;
}

#workspaces button {
  color: @foreground;
  padding: 0 2px;
}

#workspaces button.active {
  color: @main;
}

#battery.charging {
  color: @charging;
}

#battery.warning {
  color: @warning;
}

#battery.critical {
  color: @critical;
}
